#Thunderstorm {
    width: 100px;
    height: 100px;
    opacity: 0.0;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 100px;
    animation-name: zoomleft; /* Chrome, Safari, Opera */
    animation-duration: 5s;  /*Chrome, Safari, Opera */
    /*animation-iteration-count: 5;*/
    /*animation-delay: 1000;*/
    animation-play-state: paused;
}
#FuelingError {
    width: 100px;
    height: 100px;
    opacity: 0.0;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 400px;
    animation-name: zoomleft; /* Chrome, Safari, Opera */
    animation-duration: 5s;  /*Chrome, Safari, Opera */
    /*animation-iteration-count: 5;*/
    /*animation-delay: 1000;*/
    animation-play-state: paused;
}
#ManagementPressure {
    width: 200px;
    height: 200px;
    opacity: 1.0;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 35%;
    left: 70%;
    animation-name: bounce; /* Chrome, Safari, Opera */
    animation-duration: 5s;  /*Chrome, Safari, Opera */
    /*animation-iteration-count: 5;*/
    /*animation-delay: 1000;*/
    animation-play-state: paused;
}
#ExcessiveFrost {
    width: 100px;
    height: 100px;
    opacity: 0.0;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    top: 5px;
    animation-name: bounce; /* Chrome, Safari, Opera */
    animation-duration: 5s;  /*Chrome, Safari, Opera */
    /*animation-iteration-count: 5;*/
    /*animation-delay: 1000;*/
    animation-play-state: paused;
}
#AnimalAttack {
    width: 50px;
    height: 50px;
    opacity: 0.0;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 80px;
    animation-name: thunk; /* Chrome, Safari, Opera */
    animation-duration: 5s;  /*Chrome, Safari, Opera */
    /*animation-iteration-count: 5;*/
    /*animation-delay: 1000;*/
    animation-play-state: paused;
}
#LaunchPadLeak {
    height: 500px;
    width: 175px;
    opacity: 1.0;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 180px;
    left: 428px;
    animation-name: bounce; /* Chrome, Safari, Opera */
    animation-duration: 5s;  /*Chrome, Safari, Opera */
    /*animation-iteration-count: 5;*/
    /*animation-delay: 1000;*/
    animation-play-state: paused;
}


@keyframes zoomleft {
    /*0% {background-image: url('art/sprites/thunder.png'); left:0px; top:0px;}
    99% {background-image: url('art/sprites/thunder.png'); left:200px; top:0px;}
    100% {background-image: none}*/

    0%   {opacity: 0.0;left:80px;}
    25%  {opacity: 1.0;}
    75%  {opacity: 1.0;}
    100% {opacity: 1.0;left:500px;}
}

@keyframes thunk {
    /*0% {background-image: url('art/sprites/thunder.png'); left:0px; top:0px;}
    99% {background-image: url('art/sprites/thunder.png'); left:200px; top:0px;}
    100% {background-image: none}*/

    0%   {left:100px;top:100px;}
    75%  {left:450px;top:100px;}
    100% {opacity: 1.0; left:450px;top:400px}
}

@keyframes bounce {
    0%   {opacity:0.0;}
    25%  {opacity: 1.0;}
    75%  {opacity: 1.0;}
    100% {opacity: 1.0;}
}
