@font-face {
    font-family: clockFont;
    src: url(../font/ds-digii.ttf);
}

.clock {
    font-family:clockFont;
    font-size: 44pt;
    color:#FBF89E;
    margin-top: -7px;
    margin-left: 802px;
}

#clock-minute {
    text-align: center;
    margin-top: -59px;
    margin-left: -48px;
}

#clock-second {
    text-align: center;
    margin-top: -59px;
    margin-left: 121px;
}

#entropyPoints {
    font-size: 32pt;
    margin-top: -169px;
    margin-left: 75px;
    font-weight: bolder;
    color: gold;
}

.rotate-16 {

/* Safari */
-webkit-transform: rotate(-16deg);
/* Firefox */
-moz-transform: rotate(-16deg);
/* IE */
-ms-transform: rotate(-16deg);
/* Opera */
-o-transform: rotate(-16deg);
}

.bar {
    height:10px;
    width:650px;
    padding:2px;
    background: none;
    position: absolute;
    bottom: 185px;
    left: 19%
}

.bar-fill {
    height:10px;
    width:0%;
    background:#F00;
}

.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}

.container {
    position: relative;
    height: 770px;
    width: 1015px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    bottom: 0;
}

#victoryPoints {
    position: absolute;
    top: 132px;
    left: 43px;
    transform: rotate(13deg);
}

#visibilityScore {
    width: 75px;
    height: 75px;
    position: absolute;
    right: 12px;
    top: 150px;
}

#status {
    position: absolute;
    top: 50px;
    left: 36%;
    font-size: 18px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}