@font-face {
    font-family: clockFont;
    src: url(../font/ds-digii.ttf);
}

#clock {
    font-family:clockFont;
    color:#FBF89E;
}

.bar {
    height:10px;
    width:400px;
    padding:2px;
    background:#CCC;
}

.bar-fill {
    height:10px;
    width:0%;
    background:#F00;
}
.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}
.container {
    position: relative;
    height: 770px;
    width: 1015px;
}


button {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    
}